@using My_Amlak.Application.Services.Amlaks.Queries.ShowFacilities
@model ShowFacilitiesResDto
@{
    ViewData["Title"] = "ShowFacilities";
    Layout = null;
}

<h3>@Model.Facilities</h3>
<br />
<br />
<br />
<br />



@section scripts{ }